@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;t
}

html, body{
  width: 100%;
  height: 100%;
}

.main{
  width: 100%;
  height: 100vh;
  color: #fff;
background-color: #456;
}


